<div class='container text-center'>
  <h1>Stupid coaching</h1>

  <p class='mb-5'>Ask your coach anything</p>
  <div>
    <form action="/answer" data-turbo="false" class="m-10">
      <input type="text" name="question">
      <input class='btn btn-primary' type="submit" value="Ask!">
    </form>
  </div>
</div>
